@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Trispace, sans-serif;
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  cursor: pointer;
}